<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/javascripts/controllers.js"></script>

</head>
<body>
<h1><%= title %></h1>
<div ng-view></div>
</body>
</html>
